#canvas {
	text-align: center;
}

#sliders {
	width:      500px;
	height:     300px;
	margin:     auto;
	text-align: center;
}

#popup {
	height:     200px;
	width:      200px;
	border:     1px solid black;
}

.example {
	height: 500px;
}