body      { 
	padding: 0; 
	margin: 0;
} 

/********************** Canvas ********************/
#canvasDiv {
	text-align: center;
}

.p5Canvas { 
	margin: 20px 0 0 20px;
	border: 1px solid black;
}

.p5Canvas.highlight {
	border:        5px dashed rgb(0, 195, 255);
	border-radius: 5px;
}

/************* Buttons, Slider, Radios ************/
#buttonDiv table {
	margin:     auto;
	text-align: center;
}
#buttonDiv table th {
	text-decoration: none;
	font-style:      italic;
	font-weight:     normal;
	color:         #AAAAAA;
}
.square, .empty, #buttonDiv table th {
	height: 50px;
	width:  50px;
}
#btnClear, #btnReplay {
	font-size: 30px;
}
.slider {
	width: 100px;
}
#kSliderText {
	text-align: center;
	font-size: 20px;
}
#radioSort input {
	pointer-events: none;
}

/******************* Description ******************/
h4 {
	font-weight:     normal;
	font-size:       25px;
	text-decoration: underline;
}

#description {
	margin:        20px auto 20px auto;
	padding:       10px;
	border:        1px dotted black;
	border-radius: 10px;
	width:         50%;
	font:          20px arial;
	color:       #b3b3cc;
}

#description p {
	margin-left: 50px;
}

#description a {
	font-weight:     bold;
	text-decoration: none;
	color:         #b3b3cc;
}

#description .little {
	height: 200px;
}

#description img {
	margin: 10px auto 10px auto;
	display: block;
}

.instructions {
	font: 16px arial;
	color: #b3b3cc;
	font-style: oblique;
	text-align: center;
	vertical-align: middle;
}
.hidden {
	visibility: hidden;
}