#canvas, #options { 
	width:      50%;
	text-align: center;
	margin:     auto;
}

#options { height: 200px; }

#sliders             { width:   60%; }
#sliders table       { margin:  auto; }
#sliders table tr td { padding: 5px; }

#sliders, #buttons {
	display:    inline;
	float:      left;
	height:     100%;
	text-align: center;
}

#buttons        { width: 10%; }
#buttons button { 
	display: block;
	margin: 30% auto auto auto;
}

#description table {
	text-align: center;
}
#description table td {
	width: 35%;
}
