body { margin: 20px auto auto auto;
	padding: auto;
	text-align: center;
}

#canvas, #options { width: 1200px;
					margin: auto; }

#options { height: 10%; 
		   text-align: center; }

#options tr td { padding: 5px; }
#options tr th { padding-bottom: 10px; 
				 font-size: 20px; }